<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS - Not Allowed</title>
    <style>
        h1 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>You are not allowed to view this page.</h1>
    <div>
        <button><a href="{% url 'logout' %}">Log Out</a></button>
    </div>
</body>
</html>