{% extends 'main/base.html' %}
{% load static %}
{% block add_css %}
<style>

</style>
{% endblock add_css%}

{% block content %}

<div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hod_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Staff Feedback</li>
      </ul>
    </div>
</div>
<section>
    <div class="container-fluid">
        <br>
        
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                
                <!--Card Head-->
                <div class="card-header back_color">
                    <h4 class="card-title ">Staff Feedback</h4>
                </div>

                <!--Table Content-->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Staff Id</th>
                          <th>Staff Name</th>
                          <th>Message</th>
                          <th>Send On</th>
                          <th>Reply</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>Otto</td>
                          <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio a eaque incidunt laboriosam beatae facere, atque laborum odit quo minima voluptatum eveniet ex. Dolorum labore natus sint molestias. Adipisci, quam.</td>
                          <td>March 27, 2021, 12:00 a.m.</td>
                          <td>

                            <button type="button" class="btn btn-primary" id="fetch_student">Reply</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>March 27, 2021, 12:00 a.m.</td>
                          <td>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, voluptatem. Fugiat, quasi. Nostrum impedit saepe porro exercitationem beatae nihil reiciendis, tempore aperiam animi, quae sit obcaecati possimus numquam ratione vitae?
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>March 27, 2021, 12:00 a.m.</td>
                          <td>
                            <button type="button" class="btn btn-primary" id="fetch_student">Reply</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> 
</section>
<div class="modal fade show" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reply Feedback</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Reply to: <b><span id="reply_name"></span></b></p>
            <input type="hidden" id="reply_id" name="reply_id" value="4">
            <textarea class="form-control" rows="5" id="reply_message"></textarea>
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-primary btn-block" id="reply_button">Reply</button>
        </div>
        </div>
    </div>
    </div>

{% endblock %}