{% extends 'main/base.html' %}
{% load static %}
{% block add_css %}
<style>

</style>
{% endblock add_css%}

{% block content %}
<section>
    <div class="container-fluid">
        <header style="margin-bottom: -30px;">
            <h1 class="h3 display" style="font-size: 40px;">Leave Apply by Students</h1><br> 
        </header>
        
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                
                <!--Card Head-->
                <div class="card-header back_color">
                    <h4 class="card-title ">Leave Apply by Students</h4>
                </div>

                <!--Table Content-->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Student Id</th>
                          <th>Student Name</th>
                          <th>Leave Date</th>
                          <th>Leave Message</th>
                          <th>Applied On</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>Otto</td>
                          <td>March 27, 2021</td>
                          <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                          <td>March 27, 2021, 12:00 a.m.</td>
                          <td>
                                        
                            <a href="/staff_leave_approve/4/" class="btn btn-success">Approve</a>
                            <a href="/staff_leave_reject/4/" class="btn btn-danger">Reject</a>
                        
                        
                    </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>1</td>
                            <td>Otto</td>
                            <td>March 27, 2021</td>
                            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                            <td>March 27, 2021, 12:00 a.m.</td>
                            <td>
  
                                <button class="btn btn-danger" style="cursor: not-allowed;"  disabled>Rejected</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>1</td>
                            <td>Otto</td>
                            <td>March 27, 2021</td>
                            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                            <td>March 27, 2021, 12:00 a.m.</td>
                            <td>
                                <button class="btn btn-warning" style="cursor: not-allowed;"  disabled>Approved</button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> 
</section>

{% endblock %}