{% extends 'HOD/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src ="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>

.container{
  max-width:550px;

}
</style>
<br>

<div class="container">
  <div>
    <center><h2>Staff Details</h2></center>
    <center>
      <hr>
       <img src="{{ staff.profile_pic.url}}" 
       class="border border-dark  border-5"style= "border-radius:50%;"
        width="145" height="145">
    </center>
    <p></p>
  </div>
  <table class="table table-striped">
   
    <tbody>

      <tr>
        <th scope="row"></th>
        <td><b>Full Name</b></td>
        <td>:</td>
        <td>{{ staff.user.first_name }} {{ staff.user.last_name }}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><b>Staff ID</b></td>
        <td>:</td>
        <td>{{ staff.pk }} </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><b>Email</b</td>
        <td>:</td>
        <td>{{ staff.user.email }}</td>

      </tr>
          
      <tr>
        <th scope="row"></th>
        <td><b>Gender</b></td>
        <td>:</td>
        <td>{{ staff.gender }}</td>
      </tr>  
      <tr>
        <th scope="row"></th>
        <td><b>Courses</b></td>
        <td>:</td>
        <td>{{ staff.courses_taken }}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><b>Address</b></td>
        <td>:</td>
        <td>{{ staff.address }}</td>
      </tr>

      <tr>
        <th scope="row"></th>
        <td><b>Session</b></td>
        <td>:</td>
        <td>{{ staff.session_under }}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><b>Date Joined</b></td>
        <td>:</td>
        <td>{{ staff.date_joined }}</td>
      </tr>
    </tbody>
  </table>
  <center><a href="/manage_staff" class="btn btn-info "
    style="margin:25px; padding-left: 35px;padding-right: 35px;">OK</a>
    </center>
</div>




{% endblock %}





