{% extends 'HOD/base.html' %}
{% load static %}
{% block add_css %}
<style>

</style>
{% endblock add_css%}

{% block content %}

<div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hod_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Staff Feedback</li>
      </ul>
    </div>
</div>
<section>
    <div class="container-fluid">
        <br>
        
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                
                <!--Card Head-->
                <div class="card-header back_color">
                    <h4 class="card-title ">Staff Feedback</h4>
                </div>

                <!--Table Content-->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Staff Id</th>
                          <th>Staff Name</th>
                          <th>Message</th>
                          <th>Send On</th>
                          <th>Reply</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for feedback in staff_feedbacks %}
                        <tr>
                          <th scope="row">{{feedback.id}}</th>
                          <td>{{feedback.staff_id.id}}</td>
                          <td>{{feedback.staff_id.user.first_name}} {{feedback.staff_id.user.last_name}}</td>
                          <td>{{feedback.feedback}}</td>
                          <td>{{feedback.date_created}}</td>
                          <td>
                            {% if feedback.reply == "" %}
                            <button type="button" class="btn btn-primary replyModalOn" id="staff_data" data-toggle="modal" data-target="#modalForReply">Reply</button>
                            {% else %}
                            {{feedback.reply}}
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> 
</section>
<div class="modal fade show" id="modalForReply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reply Feedback</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Reply to: <b><span id="reply_name"></span></b></p>
            <input type="hidden" id="reply_id" name="reply_id">
            <textarea class="form-control" rows="5" name="reply_feedback" id="reply_message"></textarea>
        </div>
        <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary btn-block" id="reply_button">Reply</button>
        </div>
      
        </div>
    </div>
    </div>

{% endblock %}


{% block add_js%}
<script>
  const replyButton = document.querySelectorAll('.replyModalOn')
  const modalReplyButton = document.getElementById('reply_button')

  function changeModelContent (event){
    const feedbackId = event.target.parentElement.parentElement.childNodes[3-2].textContent;
    const staffName =  event.target.parentElement.parentElement.childNodes[5].textContent;
    console.log(feedbackId,staffName)
    document.getElementById('reply_id').textContent = feedbackId;
    document.getElementById('reply_id').setAttribute("value",feedbackId);
    document.getElementById('reply_name').textContent = staffName;
    
  }
  
  function changeData (event){
    const staffId = document.getElementById('reply_id').textContent;
    const reply = document.getElementById('reply_message').value;
    event.target.textContent = 'Sending...';
    event.target.setAttribute('disabled',true);
    event.target.style.cursor = 'not-allowed';
    // Now the content of how to sent data in the database will be written here

    // then
    location.reload()
  }

  replyButton.forEach(item => {
    item.addEventListener('click', changeModelContent)
  })
  modalReplyButton.addEventListener('click', changeData)
  
</script>


{% endblock add_js %}